@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url("/assets/bg-pattern-intro-left-desktop.svg"),
    url("/assets/bg-pattern-intro-right-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom -50px left, top -120px right;
  background-size: 10%, 27%;
}

.border-top {
  @apply hidden md:block border-t w-36 mb-8 lg:-mt-24 md:-mt-8
}

@media screen and (min-width: 320px) and (max-width: 725px) {
  .bg-image {
    background-image: url("/assets/bg-pattern-intro-left-mobile.svg"),
      url("/assets/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom 40% left, top 150% right;
    background-size: 40%, 39%;
  }
}
